<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @game.title %>
</h1>

<ul class="container list-group">
  <li class="list-group-item">
    <strong>Platform:</strong>
    <%= @game.platform %>
  </li>

  <li class="list-group-item">
    <strong>Genre:</strong>
    <%= @game.genre %>
  </li>

  <li class="list-group-item">
    <strong>Year released:</strong>
    <%= @game.releaseDate %>
  </li>
</ul>

<div class="text-center">
  <h3 class="font-size: fs-6">
  Description of 
  <%= @game.title %> :
  </h3>
  <p><%= @game.description %></p>
</div>

<ul class="list-group list-group-horizontal">
  <li class="list-group-item btn bg-success"><%= link_to 'Link to edit this game\'s info', edit_game_path(@game), class: "text-white" %></li>
  <li class="list-group-item btn bg-success"><%= link_to 'Link to index page', games_path, class: "text-white" %></li>
</ul>
